*{
    box-sizing: border-box;
}
body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555;
    background: linear-gradient(to right bottom, rgba(217, 124, 187, 0.01),
    rgb(236, 240, 243));
}
.login-div{
    height: 700px;
    width: 430px;
    padding: 60px 35px 35px 35px;
    border-radius: 8px;
    background-color: rgb(236, 240, 243);
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px white;
}
.logo{
    background: url(../images/Paw.svg) no-repeat;
    height: 75px;
    width: 75px;
    margin: 0 auto;
    pointer-events: none;
}
.title{
    font-family: Poppins, sans-serif;
    text-align: center;
    font-size: 28px;
    padding-top: 24px;
    font-weight: 700;
}
.fields{
    width: 100%;
    padding: 75px 5px 5px 5px;
}
.fields input{
    width: 80%;
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    color: #555;
    padding: 20px 10px 20px 5px;
    font-family: Segoe UI, sans-serif;
}
.fields img{
    height: 22px;
    margin: 0 10px -3px 25px;
    pointer-events: none;
}
.username,
.password{
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px white;
}
.signin-button{
    font-family: Segoe UI, sans-serif;
    outline: none;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 60px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: white;
    background: linear-gradient(90deg, rgb(214, 32, 156), rgb(109, 36, 212));
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px white;
    transition: .3s;
}
.signin-button:hover{
    background: linear-gradient(90deg, #d6209c, #ae78fa);
    box-shadow: 0 0 12px gray;
}
.link {
    padding-top: 20px;
    font-family: Segoe UI, sans-serif;
    text-align: center;
}
.link a{
    font-family: Calibri, sans-serif;
    text-decoration: none;
    color: #aaa;
    font-size: 15px;
}